[v-cloak] {
  display: none;
}

.site-header {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 1000;
}

.site-main {
  padding: 70px 0 10px 0;
}

.site-footer {
  height: 100px;
  color: #ffffff;
}